    @import url("https://fonts.googleapis.com/css?family=Lexend:400,500,700,600");

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
      display: block
    }

    body {
      line-height: 1
    }

    ol,
    ul {
      list-style: none
    }

    blockquote,
    q {
      quotes: none
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
      content: '';
      content: none
    }

    table {
      border-collapse: collapse;
      border-spacing: 0
    }

    * {
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
    }

    html,
    body {
      margin: 0px;
      height: 100%;
    }

    a {
      text-decoration: none;
    }

    .component {
      height: 128px;
      width: 1512px;
    }

    .component .overlap {
      height: 128px;
      position: relative;
    }

    .component .header {
      background-color: #ffffff;
      box-shadow: 0px 4px 30px #0000001a;
      height: 128px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1512px;
    }

    .component .overlap-group {
      background-color: #ffffff;
      height: 128px;
      position: relative;
    }

    .component .contact {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 16px;
      font-weight: 500;
      left: 1060px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 52px;
      white-space: nowrap;
      width: 65px;
    }

    .component .dashboard {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 16px;
      font-weight: 500;
      left: 920px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 52px;
      white-space: nowrap;
      width: 97px;
    }

    .component .about-us {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 16px;
      font-weight: 500;
      left: 1168px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 52px;
      white-space: nowrap;
      width: 75px;
    }

    .component .group {
      height: 63px;
      left: 106px;
      position: absolute;
      top: 28px;
      width: 329px;
    }

    .component .div {
      position: absolute;
    }

    .component .sign-in-wrapper {
      background-color: #0e5f59;
      border-radius: 8px;
      height: 36px;
      position: relative;
      width: 100px;
    }

    .component .sign-in {
      color: #ffffff;
      font-family: "Lexend", Helvetica;
      font-size: 16px;
      font-weight: 500;
      left: 21px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 6px;
      white-space: nowrap;
      width: 61px;
    }

    .component .user-name {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 16px;
      font-weight: 500;
      left: 48px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 7px;
      width: 85px;
    }

    .component .img {
      height: 38px;
      left: 0;
      position: absolute;
      top: 0;
      width: 38px;
    }

    .component .vector {
      height: 9px;
      left: 143px;
      position: absolute;
      top: 13px;
      width: 15px;
    }

    .component .text-wrapper {
      color: #0e5f59;
      font-family: "Lexend", Helvetica;
      font-size: 16px;
      font-weight: 500;
      left: 1060px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 52px;
      white-space: nowrap;
      width: 65px;
    }

    .component .dashboard-2 {
      color: #0e5f59;
      font-family: "Lexend", Helvetica;
      font-size: 16px;
      font-weight: 500;
      left: 920px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 52px;
      white-space: nowrap;
      width: 97px;
    }

    .component .about-us-2 {
      color: #0e5f59;
      font-family: "Lexend", Helvetica;
      font-size: 16px;
      font-weight: 500;
      left: 1168px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 52px;
      white-space: nowrap;
      width: 75px;
    }

    .component.header-sign-in {
      background-color: #ffffff;
      box-shadow: 0px 4px 30px #0000001a;
    }

    .component.header-sign-in .overlap {
      background-color: #ffffff;
    }

    .component.user-logged .div {
      height: 38px;
      left: 1270px;
      top: 43px;
      width: 160px;
    }

    .component.header-sign-in .div {
      height: 36px;
      left: 1299px;
      top: 46px;
      width: 102px;
    }

    .questionnaire {
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }

    .questionnaire .div-2 {
      background-color: #ffffff;
      border: 1px none;
      height: 1203px;
      overflow: hidden;
      position: relative;
      width: 1512px;
    }

    .questionnaire .overlap-2 {
      height: 899px;
      left: 112px;
      position: absolute;
      top: 307px;
      width: 1295px;
    }

    .questionnaire .frame {
      height: 899px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1295px;
    }

    .questionnaire .overlap-3 {
      height: 837px;
      position: relative;
      width: 1299px;
    }

    .questionnaire .rectangle {
      background-color: #ffffff;
      border-radius: 15px;
      box-shadow: 0px 0px 20px #00000014;
      height: 837px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1295px;
    }

    .questionnaire .text-wrapper-2 {
      color: #5b5b5b;
      font-family: "Lexend", Helvetica;
      font-size: 18px;
      font-weight: 600;
      left: 35px;
      letter-spacing: 0;
      line-height: 19.7px;
      position: absolute;
      top: 406px;
      white-space: nowrap;
    }

    .questionnaire .rectangle-2 {
      background-color: #f3f9f9;
      border-radius: 15px;
      height: 346px;
      left: 146px;
      position: absolute;
      top: 446px;
      width: 943px;
    }

    .questionnaire .overlap-wrapper {
      height: 245px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1299px;
    }

    .questionnaire .overlap-4 {
      height: 245px;
      position: relative;
      width: 1295px;
    }

    .questionnaire .rectangle-3 {
      background: linear-gradient(180deg, rgba(254, 205, 8, 0.07) 0%, rgba(14, 95, 89, 0.19) 100%);
      border: 1px solid;
      border-color: #0e5f591a;
      height: 84px;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 161px;
      width: 1295px;
    }

    .questionnaire .rectangle-4 {
      height: 161px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1295px;
    }

    .questionnaire .rectangle-5 {
      background: linear-gradient(180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.14) 21.88%,
          rgba(0, 0, 0, 0.41) 50%,
          rgba(0, 0, 0, 0.62) 69.27%,
          rgb(0, 0, 0) 100%);
      border-radius: 15px 15px 0px 0px;
      height: 161px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1295px;
    }

    .questionnaire .text-wrapper-3 {
      color: #000000;
      font-family: "Lexend", Helvetica;
      font-size: 20px;
      font-weight: 700;
      left: 168px;
      letter-spacing: 0;
      line-height: 20.2px;
      position: absolute;
      top: 177px;
      white-space: nowrap;
    }

    .questionnaire .text-wrapper-4 {
      color: #0e5f59;
      font-family: "Lexend", Helvetica;
      font-size: 18px;
      font-weight: 600;
      left: 47px;
      letter-spacing: 0;
      line-height: 24.9px;
      position: absolute;
      top: 193px;
      white-space: nowrap;
    }

    .questionnaire .group-2 {
      height: 19px;
      left: 168px;
      position: absolute;
      top: 208px;
      width: 142px;
    }

    .questionnaire .text-wrapper-5 {
      color: #5b5b5b;
      font-family: "Lexend", Helvetica;
      font-size: 14px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0;
      line-height: 19.4px;
      position: absolute;
      top: 0;
      white-space: nowrap;
    }

    .questionnaire .text-wrapper-6 {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 14px;
      font-weight: 500;
      left: 66px;
      letter-spacing: 0;
      line-height: 19.4px;
      position: absolute;
      top: 0;
      white-space: nowrap;
    }

    .questionnaire .group-3 {
      height: 19px;
      left: 321px;
      position: absolute;
      top: 208px;
      width: 204px;
    }

    .questionnaire .line {
      height: 18px;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 1px;
      width: 1px;
    }

    .questionnaire .group-4 {
      height: 19px;
      left: 16px;
      position: absolute;
      top: 0;
      width: 192px;
    }

    .questionnaire .text-wrapper-7 {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 14px;
      font-weight: 500;
      left: 111px;
      letter-spacing: 0;
      line-height: 19.4px;
      position: absolute;
      top: 0;
      white-space: nowrap;
    }

    .questionnaire .image-wrapper {
      background-color: #f1fafa;
      border: 1px solid;
      border-color: #d7e8f0;
      border-radius: 8px;
      height: 101px;
      left: 35px;
      position: absolute;
      top: 86px;
      width: 101px;
    }

    .questionnaire .image {
      height: 56px;
      left: 11px;
      position: absolute;
      top: 22px;
      width: 78px;
    }

    .questionnaire .group-wrapper {
      background-color: #ffffff;
      border: 1px solid;
      border-color: #0e5f59;
      border-radius: 25px;
      height: 32px;
      left: 1046px;
      position: absolute;
      top: 195px;
      width: 214px;
    }

    .questionnaire .group-5 {
      height: 18px;
      left: 13px;
      position: relative;
      top: 6px;
      width: 192px;
    }

    .questionnaire .p {
      color: #0e5f59;
      font-family: "Lexend", Helvetica;
      font-size: 13px;
      font-weight: 500;
      left: 19px;
      letter-spacing: 0;
      line-height: 18px;
      position: absolute;
      text-align: right;
      top: 0;
      white-space: nowrap;
    }

    .questionnaire .overlap-group-wrapper {
      height: 16px;
      left: 0;
      position: absolute;
      top: 1px;
      width: 16px;
    }

    .questionnaire .overlap-group-2 {
      height: 14px;
      left: 1px;
      position: relative;
      top: 1px;
      width: 14px;
    }

    .questionnaire .rectangle-6 {
      background-color: #fecd08;
      height: 12px;
      left: 1px;
      position: absolute;
      top: 1px;
      width: 12px;
    }

    .questionnaire .group-6 {
      height: 14px;
      left: 0;
      position: absolute;
      top: 0;
      width: 14px;
    }

    .questionnaire .group-7 {
      height: 33px;
      left: 35px;
      position: absolute;
      top: 266px;
      width: 1170px;
    }

    .questionnaire .element-steps-selection-wrapper {
      background: linear-gradient(180deg, rgba(254, 205, 8, 0.9) 0%, rgba(254, 205, 8, 0) 100%);
      border-radius: 10px;
      height: 33px;
      position: relative;
      width: 1168px;
    }

    .questionnaire .element-steps-selection {
      color: #0e5f59;
      font-family: "Lexend", Helvetica;
      font-size: 15px;
      font-weight: 400;
      left: 15px;
      letter-spacing: 0;
      line-height: 20.8px;
      position: absolute;
      top: 6px;
      white-space: nowrap;
    }

    .questionnaire .span {
      color: #0e5f59;
      font-family: "Lexend", Helvetica;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 20.8px;
    }

    .questionnaire .text-wrapper-8 {
      font-weight: 600;
    }

    .questionnaire .group-8 {
      height: 257px;
      left: 253px;
      position: absolute;
      top: 478px;
      width: 730px;
    }

    .questionnaire .group-9 {
      height: 40px;
      left: 179px;
      position: absolute;
      top: 217px;
      width: 311px;
    }

    .questionnaire .div-wrapper {
      background-color: #fecd08;
      border-radius: 9px;
      height: 40px;
      left: 164px;
      position: absolute;
      top: 0;
      width: 147px;
    }

    .questionnaire .group-10 {
      height: 27px;
      left: 19px;
      position: relative;
      top: 7px;
      width: 115px;
    }

    .questionnaire .group-11 {
      height: 27px;
      position: relative;
      width: 117px;
    }

    .questionnaire .text-wrapper-9 {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 20.2px;
      font-weight: 500;
      left: 0;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      text-align: center;
      top: 0;
      width: 76px;
    }

    .questionnaire .arrow {
      height: 18px;
      left: 84px;
      position: absolute;
      top: 4px;
      width: 32px;
    }

    .questionnaire .group-12 {
      background-color: #b3b3b3;
      border-radius: 9px;
      height: 40px;
      left: 0;
      position: absolute;
      top: 0;
      width: 147px;
    }

    .questionnaire .group-13 {
      height: 25px;
      left: 24px;
      position: relative;
      top: 7px;
      width: 96px;
    }

    .questionnaire .group-14 {
      height: 25px;
      position: relative;
      width: 98px;
    }

    .questionnaire .text-wrapper-10 {
      color: #5b5b5b;
      font-family: "Lexend", Helvetica;
      font-size: 20.2px;
      font-weight: 500;
      left: 46px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      text-align: center;
      top: 0;
    }

    .questionnaire .arrow-2 {
      height: 18px;
      left: -1px;
      position: absolute;
      top: 4px;
      width: 32px;
    }

    .questionnaire .group-15 {
      height: 78px;
      left: 0;
      position: absolute;
      top: 0;
      width: 342px;
    }

    .questionnaire .frame-2 {
      align-items: flex-start;
      display: inline-flex;
      gap: 10px;
      left: 1px;
      padding: 10px 0px;
    }

    .questionnaire .text-wrapper-11 {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: normal;
      margin-top: -1px;
      position: relative;
      text-align: center;
      width: fit-content;
    }

    .questionnaire .frame-3 {
      align-items: center;
      background-color: #ffffff;
      border: 1px solid;
      border-color: #005f59;
      border-radius: 5px;
      display: flex;
      gap: 10px;
      height: 35px;
      left: 0;
      padding: 10px;
      position: absolute;
      top: 43px;
      width: 342px;
    }

    .questionnaire .text-wrapper-12 {
      color: #b3b3b3;
      font-family: "Lexend", Helvetica;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: normal;
      margin-bottom: -4px;
      margin-top: -6px;
      position: relative;
      width: fit-content;
    }

    .questionnaire .group-16 {
      height: 78px;
      left: 0;
      position: absolute;
      top: 93px;
      width: 342px;
    }

    .questionnaire .group-17 {
      height: 35px;
      left: 259px;
      position: absolute;
      top: 43px;
      width: 85px;
    }

    .questionnaire .overlap-group-3 {
      height: 35px;
      position: relative;
      width: 83px;
    }

    .questionnaire .group-18 {
      height: 78px;
      left: 383px;
      position: absolute;
      top: 0;
      width: 343px;
    }

    .questionnaire .frame-5 {
      align-items: center;
      background-color: #ffffff;
      border: 1px solid;
      border-color: #005f59;
      border-radius: 5px;
      display: flex;
      gap: 10px;
      height: 35px;
      left: 0;
      padding: 10px;
      position: absolute;
      top: 43px;
      width: 343px;
    }

    .questionnaire .group-19 {
      background-color: #ffffff;
      border-radius: 13px;
      box-shadow: 3px 4px 9px 1px #0000001f;
      height: 65px;
      left: 385px;
      position: absolute;
      top: 106px;
      width: 345px;
    }

    .questionnaire .group-20 {
      height: 39px;
      left: 52px;
      position: relative;
      top: 13px;
      width: 264px;
    }

    .questionnaire .text-wrapper-14 {
      left: 51px;
      line-height: 21.1px;
      top: 9px;
      width: 211px;
    }

    .questionnaire .iconsax-linear {
      height: 39px;
      left: 0;
      position: absolute;
      top: 0;
      width: 39px;
    }

    .questionnaire .group-21 {
      height: 68px;
      left: 35px;
      position: absolute;
      top: 311px;
      width: 1226px;
    }

    .questionnaire .group-22 {
      background-color: #ffffff;
      border-radius: 13px;
      box-shadow: 0px 0px 12px #00000014;
      height: 68px;
      left: 438px;
      position: absolute;
      top: 0;
      width: 350px;
    }

    .questionnaire .group-23 {
      height: 44px;
      left: 31px;
      position: relative;
      top: 11px;
      width: 257px;
    }

    .questionnaire .text-wrapper-15 {
      color: #0e5f59;
      font-family: "Lexend", Helvetica;
      font-size: 20px;
      font-weight: 400;
      left: 56px;
      letter-spacing: 0;
      line-height: 27.7px;
      position: absolute;
      top: 8px;
      white-space: nowrap;
    }

    .questionnaire .group-24 {
      height: 44px;
      left: 0;
      position: absolute;
      top: 0;
      width: 46px;
    }

    .questionnaire .overlap-group-4 {
      background-color: #ffffff;
      border: 1px solid;
      border-color: #0e5f59;
      border-radius: 22px;
      height: 44px;
      position: relative;
      width: 44px;
    }

    .questionnaire .text-wrapper-16 {
      color: #0e5f59;
      font-family: "Lexend", Helvetica;
      font-size: 20px;
      font-weight: 500;
      left: 16px;
      letter-spacing: 0;
      line-height: 22.2px;
      position: absolute;
      top: 10px;
      white-space: nowrap;
      width: 10px;
    }

    .questionnaire .group-25 {
      background-color: #ffffff;
      border-radius: 13px;
      box-shadow: 0px 0px 12px #00000014;
      height: 68px;
      left: 876px;
      position: absolute;
      top: 0;
      width: 350px;
    }

    .questionnaire .group-26 {
      height: 44px;
      left: 31px;
      position: relative;
      top: 11px;
      width: 279px;
    }

    .questionnaire .polygon {
      height: 24px;
      left: 390px;
      position: absolute;
      top: 21px;
      width: 10px;
    }

    .questionnaire .polygon-2 {
      height: 24px;
      left: 828px;
      position: absolute;
      top: 21px;
      width: 10px;
    }

    .questionnaire .group-27 {
      background-color: #0e5f59;
      border-radius: 15px;
      height: 68px;
      left: 0;
      position: absolute;
      top: 0;
      width: 350px;
    }

    .questionnaire .group-28 {
      height: 45px;
      left: 32px;
      position: relative;
      top: 10px;
      width: 241px;
    }

    .questionnaire .text-wrapper-17 {
      color: #fecd08;
      font-family: "Lexend", Helvetica;
      font-size: 18px;
      font-weight: 500;
      left: 56px;
      letter-spacing: 0;
      line-height: 24.9px;
      position: absolute;
      top: 19px;
      white-space: nowrap;
    }

    .questionnaire .text-wrapper-18 {
      color: #ffffff;
      font-family: "Lexend", Helvetica;
      font-size: 13px;
      font-weight: 500;
      left: 56px;
      letter-spacing: 0;
      line-height: 18px;
      position: absolute;
      top: 0;
      white-space: nowrap;
    }

    .questionnaire .group-29 {
      height: 44px;
      left: 0;
      position: absolute;
      top: 1px;
      width: 46px;
    }

    .questionnaire .overlap-group-5 {
      background-color: #ffffff;
      border-radius: 22px;
      box-shadow: 0px 0px 50px #00000026;
      height: 44px;
      position: relative;
      width: 44px;
    }

    .questionnaire .text-wrapper-19 {
      color: #0e5f59;
      font-family: "Lexend", Helvetica;
      font-size: 20px;
      font-weight: 500;
      left: 17px;
      letter-spacing: 0;
      line-height: 22.2px;
      position: absolute;
      top: 11px;
      white-space: nowrap;
      width: 10px;
    }

    .questionnaire .text-wrapper-20 {
      color: #5b5b5b;
      font-family: "Lexend", Helvetica;
      font-size: 14px;
      font-weight: 400;
      left: 112px;
      letter-spacing: 0;
      line-height: 19.4px;
      position: absolute;
      top: 276px;
      white-space: nowrap;
    }

    .questionnaire .group-30 {
      height: 85px;
      left: 118px;
      position: absolute;
      top: 160px;
      width: 1289px;
    }

    .questionnaire .group-31 {
      height: 85px;
      left: 0;
      position: absolute;
      top: 0;
      width: 413px;
    }

    .questionnaire .overlap-group-6 {
      background-color: #005f59;
      border-radius: 32px;
      box-shadow: 0px 0px 50px #00000026;
      height: 64px;
      left: 0;
      position: absolute;
      top: 21px;
      width: 64px;
    }

    .questionnaire .text-wrapper-21 {
      color: #ffffff;
      font-family: "Lexend", Helvetica;
      font-size: 26px;
      font-weight: 500;
      left: 25px;
      letter-spacing: 0;
      line-height: 28.9px;
      position: absolute;
      top: 18px;
      white-space: nowrap;
    }

    .questionnaire .text-wrapper-22 {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 18px;
      font-weight: 500;
      left: 87px;
      letter-spacing: 0;
      line-height: 20px;
      position: absolute;
      top: 25px;
      white-space: nowrap;
    }

    .questionnaire .rectangle-7 {
      background-color: #005f59;
      border-radius: 8px;
      height: 9px;
      left: 87px;
      position: absolute;
      top: 57px;
      width: 320px;
    }

    .questionnaire .text-wrapper-23 {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 13px;
      font-weight: 400;
      left: 16px;
      letter-spacing: 0;
      line-height: 14.4px;
      position: absolute;
      text-align: center;
      top: 0;
      white-space: nowrap;
    }

    .questionnaire .group-32 {
      height: 85px;
      left: 439px;
      position: absolute;
      top: 0;
      width: 411px;
    }

    .questionnaire .text-wrapper-24 {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 18px;
      font-weight: 500;
      left: 89px;
      letter-spacing: 0;
      line-height: 20px;
      position: absolute;
      top: 25px;
      white-space: nowrap;
    }

    .questionnaire .div-3 {
      background-color: #dfe9e8;
      border-radius: 8px;
      height: 9px;
      left: 89px;
      position: absolute;
      top: 57px;
      width: 320px;
    }

    .questionnaire .rectangle-8 {
      background-color: #0e5f59;
      border-radius: 8px;
      height: 9px;
      width: 18px;
    }

    .questionnaire .group-33 {
      height: 85px;
      left: 0;
      position: absolute;
      top: 0;
      width: 66px;
    }

    .questionnaire .group-34 {
      height: 64px;
      left: 0;
      position: absolute;
      top: 21px;
      width: 66px;
    }

    .questionnaire .overlap-group-7 {
      background-color: #fecd08;
      border-radius: 32px;
      box-shadow: 0px 0px 50px #00000026;
      height: 64px;
      position: relative;
      width: 64px;
    }

    .questionnaire .text-wrapper-25 {
      color: #005f59;
      font-family: "Lexend", Helvetica;
      font-size: 26px;
      font-weight: 500;
      left: 24px;
      letter-spacing: 0;
      line-height: 28.9px;
      position: absolute;
      top: 18px;
      white-space: nowrap;
    }

    .questionnaire .group-35 {
      height: 85px;
      left: 880px;
      position: absolute;
      top: 0;
      width: 411px;
    }

    .questionnaire .overlap-group-8 {
      background-color: #ffffff;
      border-radius: 32px;
      box-shadow: 0px 0px 50px #00000026;
      height: 64px;
      position: relative;
      width: 64px;
    }

    .questionnaire .component-21 {
      left: 0 !important;
      position: absolute !important;
      top: 0 !important;
    }

    .questionnaire .component-instance {
      mix-blend-mode: normal !important;
    }

    .questionnaire .component-21-instance {
      width: 1512px !important;
    }